.navbar-text
{
font-size: 16pt;
font-family: Georgia;
text-align: center;
color: whitesmoke;
}

.nav-link{

color: whitesmoke;



}

.rightnav{
padding-right: 100px;





}

.jumbotron {
	background-image: url('pics/homepic3.jpg');
	background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 5%;

}

h5{
font-size: 16pt;
}

.card-deck{
margin-left: 10px;
margin-right: 10px;

}

h6{

  text-align: center;
}

small{
  text-align: center;
}

.card-deck-1{
  margin-left: 22px;
  margin-right: 22px;

  }





